@charset "UTF-8";

/* CSS Document */

html,
body {
    margin: 0px;
}

.clear {
    clear: both;
}

#wrapper {
    width: 100%;
    max-width: 960px;
    margin: auto;
}


/*---------- HEADER ----------*/

header {
    height: 300px;
    width: 100%;
    background: #e6ffff
}


/*---------- CONTENT AREA ----------*/

.col-3 {
    width: 100%;
    height: 320px;
    float: left;
}

#column-1 {
    background: #00cccc;
}

#column-2 {
    background: #ff6699;
}

#column-3 {
    background: #ff9900;
}


/*---------- FOOTER ----------*/

footer {
    width: 100%;
    height: 30px;
    background: #e6ffff;
}


/*---------- TABLET ----------*/


/* Change the background colors below */

@media (min-width: 768px) {
    header {
        background-color: #e6ffff;
        width: 100%;
    }
    #column-1 {
        background-color: #00cccc;
        width: 33.3%;
    }
    #column-2 {
        background-color: #ff6699;
        width: 33.3%;
    }
    #column-3 {
        background-color: #ff9900;
        width: 33.3%;
    }
    footer {
        background-color: #e6ffff;
        width: 100%;
    }
}


/*---------- Desktops ----------*/

@media (min-width: 1200px) {
    header {
        background-color: #e6ffff;
    }
    #column-1 {
        background-color: #00cccc;
        width: 33.3%;
    }
    #column-2 {
        background-color: #ff6699;
        width: 33.3%;
    }
    #column-3 {
        background-color: #ff9900;
        width: 33.3%;
    }
    footer {
        background-color: #e6ffff;
    }
}